doctype html
html(lang="en")
	head
		link(rel='stylesheet', type="text/css", href='/static/style.css')
		title oops...I don't know what happened here
	body
		div.warning
			h1.center 404 - Nothing found
