.center {
	text-align: center; 
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom: auto; 
	margin-top: auto;
}

.warning {
	@extend .center;
	background-color: blue;
	border-radius: 5px;
	border: 5px;
	border-color: black;
	margin-top: 10%;
	width: 10%;
	height: 300px;
}